@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
}

:root {
  --main--color--one: #f2994a;
  --main--color--two: #f2c94c;
}
.container {
  position: relative;
  /* height: 100%; */
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fade--in--right {
  margin-top: 81px;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.hero {
  position: relative;
  z-index: -100;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(242, 201, 76, 0.2) 0%,
    rgba(242, 153, 74, 0.2) 100%
  );
  height: 880.5px;
  clip-path: polygon(0 0, 100% 0%, 100% 41%, 0 100%);
}
.main--container {
  position: absolute;
  top: 90px;
  width: 710px;
  left: 25%;
  display: grid;
  place-items: center;

  padding-bottom: 6em;
}
.description--text {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 50px;
  margin: 50px 0;
  color: #4e598c;
}
.heading--section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 3em;
  border-bottom: 1px solid #000000;
}
.heading--text {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 34px;
  color: #bdbdbd;
  cursor: pointer;
  padding-bottom: 30px;
}
.active {
  position: absolute;
  top: 60px;
  width: 170px;
  border-radius: 10px;
  color: var(--main--color--one);
  border-bottom: 10px solid var(--main--color--one);
}
input {
  width: 100%;
  height: 64px;
  background: #ffffff;
  border: 1px solid #4e598c;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  padding-left: 1.5em;
  line-height: 30px;
  color: #4f4f4f;
  margin-top: 0.4em;
  margin-bottom: 3em;
}
label {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  color: #000000;
}
sup {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  /* Red */

  color: #eb5757;
}
small {
  display: block;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #817e9e;
  margin: 1em 0;
}
#local-government {
  width: 420px;
  margin-right: 1.2em;
}
select {
  width: 260px;
  height: 64px;
  background: #ffffff;
  border: 1px solid #4e598c;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  padding: 0 1.5em;
  line-height: 30px;
  color: #4f4f4f;
  margin-top: 0.4em;
  margin-bottom: 3em;
}
button {
  width: 238px;
  height: 58px;
  color: white;
  background: linear-gradient(180deg, #f2c94c 0%, #f2994a 100%);
  border-radius: 10px;
  border: 0;
  margin-right: 5em;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
}
/* +************* */
.last--inputs {
  display: flex;
}
/* ****************** */
.form--footer span {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  /* purple */

  color: #4e598c;
}

/* ********Billing info********** */

#card-type {
  width: 100%;
}
#card-details {
  width: 391px;
}
#expiry-date {
  width: 132px;
}
#cvv {
  width: 104px;
}
/* ******** */
/* **********confirm payment section************ */
.confirm--payment--card {
  width: 756px;
  height: 405px;
  background-color: white;
  box-shadow: 0px 10px 15px rgba(33, 30, 67, 0.08);
  border-radius: 10px;
}

.confirm--payment--card--header {
  background-color: #2f80ed;
  padding: 20px 90px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  border-radius: 16px 10px 0px 0px;
  /* identical to box height, or 150% */
  color: #ffffff;
}
.confirm--payment--card main {
  margin-top: 42px;
  margin-bottom: 40px;
  padding: 0 90px;
}
.confirm--payment--card main div {
  display: flex;
  justify-content: space-between;
  line-height: 3em;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 30px; */
  /* identical to box height, or 150% */

  /* purple */

  color: #4e598c;
}
.confirm--payment--card footer {
  margin: 40px 65.2px;
  width: 614px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  padding: 19px 23px;
  background: #ffffff;
  color: #4e598c;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 30px; */
  /* Light Blue */

  border: 1px solid #817e9e;
  border-radius: 5px;
}
/* *************** */

/* *************purchase successfull card************************ */

.purchase--successfull--card {
  position: absolute;
  display: grid;
  place-items: center;
  width: 801px;
  height: 480px;
  top: 50%;
  left: 50%;
  margin-top: 30%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  /* Mid */

  box-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
  border-radius: 10px;
  padding: 1em;
}

.success--icon {
  text-align: center;
  width: 84px;
  height: 84px;
  display: grid;
  place-items: center;
  color: #6fcf97;
  border-radius: 50%;
  margin: 0 auto;
  background: #ffffff;
  /* Mid */

  box-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
}
.purchase--successfull--card h2 {
  font-style: normal;
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 67px;
}
.purchase--successfull--card p {
  font-style: normal;
  margin: 2em 0;
  width: 404px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
}

.purchase--successfull--card a {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #f2994a;
}
/* **************** */
